In [ ]:
#1234

In [ ]:
#資料結構

#暫時使用一下>Tuple 可以儲存多個值,但只有一個變數
# Tuple建立後不可以改變內容,不可以新增或刪除
# 如何建立Tuple? (2,"error")
#List
#dictionary
#set

In [ ]:
(404,"error")

In [22]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
stu1=[78,98,56,74,79]
stu1

[78, 98, 56, 74, 79]

In [2]:
for score in stu1:
    print(score)

78
98
56
74
79

In [9]:
enmpy_lit=[]
weekdays=['一','二','三','四','五','六','日']
big_birds=['emu','ostrich','cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [10]:
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [11]:

first_names[1]

'John'

In [12]:
type(first_names)

list

In [13]:
type(10)

int

In [16]:
type(10.0)

float

In [17]:
type("robert")

str

In [18]:
len(first_names)

5

In [23]:
first_names.append('robert')
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert', 'robert']

In [24]:
first_names.insert(0,"Hsu")
first_names

['Hsu', 'Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert', 'robert']

In [25]:
#1231544
#TOMMTMOTMMTdaaaa

In [2]:
for word in "helloworld":
    print(word)

h
e
l
l
o
w
o
r
l
d

In [3]:
words=list("helloworld")
words

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [4]:
#slice切割
words[0:5]

['h', 'e', 'l', 'l', 'o']

In [5]:
words[-5:-1]

['w', 'o', 'r', 'l']

In [6]:
words[-5:]

['w', 'o', 'r', 'l', 'd']

In [7]:
words[:5]

['h', 'e', 'l', 'l', 'o']